@charset "utf-8";
@import "./reset.css";

.container {
    width: min(100% -30px, 1080px);
    margin-inline: auto;
}

body {
    background-color: blue;
    color: #fff;
}

.flex {
    display: flex;
}

.conatiner p {
    font-size: 32px;
}

header {
    background-color: blueviolet;
}

h1 {
    font-size: 20px;
    font-weight: 500;
}

ul.flex {
   gap: 15px;""
}

.flex li{
    list-style: none;
    font-size: 18px;
}

main {
    padding-top: 60px;
}